<!--<script id="templates/home.html" type="text/ng-template">-->
<ion-view  ng-controller="FormCTRL">
    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title">房贷计算器</h1>
    </ion-header-bar>

    <ion-content>
    <div class="list">
        <label class="item item-input item-select">
            <div class="input-label">
                贷款类型
            </div>
            <select ng-model="loan.type">
                <option value="fund" selected>公积金</option>
                <option value="bank">商业贷款</option>
                <option value="fundbank">组合贷款</option>
            </select>
        </label>

        <label class="item item-input item-select">
            <div class="input-label">
                还款方式
            </div>
            <select ng-model="loan.method">
                <option value="bx" selected>等额本息</option>
                <option value="bj">等额本金</option>
            </select>
        </label>
    </div>

    <!--<ion-toggle ng-model="airplaneMode" toggle-class="toggle-positive">自定义利率</ion-toggle>-->
    <ion-toggle toggle-class="toggle-positive" ng-click="swtichAccount()">自定义利率</ion-toggle>
    <div ng-show="selfAccount">
        <label class="item item-input">
            <span class="input-label">利率折扣：</span>
            <input type="number" ng-model="loan.selfDiscount" step="0.05" min="0.05" max="2" >
        </label>
    </div>
    <div class="list" ng-show="defaultAccount">
        <label class="item item-input item-select">
            <div class="input-label">
                利率折扣
            </div>
            <select ng-model="loan.discount">
                <option value="1" selected>基准利率</option>
                <option value="0.9">9折</option>
                <option value="0.95">9.5折</option>
                <option value="1.05">1.05倍</option>
                <option value="1.1">1.1倍</option>
                <option value="1.2">1.2倍</option>
            </select>
        </label>
    </div>

    <div class="list">
        <label class="item item-input">
            <span class="input-label">贷款金额（元）</span>
            <input type="number" ng-model="loan.money">
        </label>
        <label class="item item-input">
            <span class="input-label">贷款期限（月）</span>
            <input type="number" ng-model="loan.month">
        </label>
        <label class="item item-input">
            <span class="input-label">首次还款日</span>
            <input type="date" ng-model="loan.start">
        </label>
    </div>

    <div class="button-bar">
        <a class="button button-outline button-positive" data-ng-click="reset()">Reset</a>
        <a class="button button-outline button-positive" data-ng-click="calculate(loan)">计算</a>
    </div>
</ion-content>
</ion-view>
<!--
</script>-->
