<!--<script id="templates/loanList.html" type="text/ng-template">-->
<ion-view ng-controller="ListCTRL as main">
    <ion-header-bar  align-title="center" class="bar-positive">
        <a class="button icon-left ion-chevron-left button-clear button-dark" data-ng-click="back()">Back</a>
        <h1 class="title">还款详情</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list">
            <label class="item item-divider">
                <span>贷款总额：300000.00元</span>
            </label>
            <label class="item item-divider">
                <span>支付利息：150000.00元</span>
            </label>
            <label class="item item-divider">
                <span>还款总额：450000.00元</span>
            </label>
            <label class="item item-divider">
                <span>贷款月数：300月</span>
            </label>
        </div>
        <div class="list">
            <ion-item collection-repeat="item in main.items">
                <span>{{item}}</span>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
<!--</script>-->
